/certs/*
!/certs/README.md
!/certs/gen.sh
backup.eslintrc.js
/cache
/es.env
/scripts/es.sh
/credentials/*

/dist
/build.sh
/deploy.sh
node_modules
.env
.env.*
!.env.example

.DS_Store

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

/ssh.sh

dump.csv

batch-multi-certs.log